@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$title-color: #363636;
$p-color: #808080;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul, li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
}


/* Home Section */
.home {
    max-width: 100%;
    
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: 120vh;
    }

    .desc-image {
        width: 40%;
    }

    .section-title {
        font-size: 5vw;
        font-weight: 700;
        color: $title-color;
    }

    .section-desc {
        font-size: 2.3vw;
        color: $p-color;
        width: 70%;
    }
    
    .home {
        background-image: linear-gradient(to top, #eb402c, #d90647);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;
        justify-content: center;

        .navbar {
            .logo {
                font-size: 7vw;
                font-weight: 700;
                color: #fff;
            }

            .menu {
                display: none;
            }
        }

        .home-wrapper {
            .home-content {
                .home-title {
                    h1 {
                        font-size: 10vw;
                        color: #fff;
                        font-weight: 700;
                        padding: 30px;
                    }

                    h2 {
                        font-size: 3vw;
                        color: #fff;
                    }
                }
            }

            .home-image {
                padding-top: 50px;
                img {
                    width: 50%;
                }
            }
        }
    }

    .message {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        .message-wrapper {
            
        }
    }
}